@model Registro

<h1>solicitud de compra</h1>

<div asp-validation-summary="All"></div>


<form action="" method="post">
    <div class="form-group">
        <label asp-for="Producto"></label>
        <input type="text" asp-for="Producto" required class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Url"></label>
        <input type="url" asp-for="Url" required class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <textarea asp-for="Descripcion" required class="form-control"></textarea>

    </div>

    <div class="form-group">
        <label asp-for="Precio"></label>
        <input type="text" asp-for="Precio" required class="form-control">

    </div>

    <div class="form-group">
        <label asp-for="Celular"></label>
        <input type="tel" asp-for="Celular" required class="form-control">

    </div>

    <div class="form-group">
        <label asp-for="Lugar"></label>
        <input type="text" asp-for="Lugar" required class="form-control">

    </div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input type="text" asp-for="Nombre" required class="form-control">

    </div>

    <div>
        <label asp-for="Fecha"></label>
        <input type="date" asp-for="Fecha" name="trip-start" value="2020-01-01" required class="form-control" min="2020-01-01" max="2020-12-31">
    </div>

    <div>
  <button class="btn btn-dark">Enviar</button>
    </div>
</form>